@font-face {
	font-family: 'SFNS Display Thin';
	src: url('../fonts/sfns_display_thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/sfns_display_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/sfns_display_thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/sfns_display_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/sfns_display_thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/sfns_display_thin.svg#sfns_display_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}